@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar for dropdown */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #a855f7; /* Tailwind purple-500 */
  border-radius: 8px;
}
